html {text-align: center, horizontally;
      font-family: Helvetica;}

body

h1    {font-size: 70px;
      font-weight: bold;
      color: white;}

.inhoudsopgave { font-size: 18px;
                color: white;
              background-image:resources/images/the-flatiron-building.jpg;}


h2   {font-size: 32px;
      font-weight: bold;}

h3    {font-size: 23px;
      font-weight: bold;}

p     {font-size: 14px;}

#newyork {font-size: 23px;
          font-weight: bold;
          color: white;
          background-image:resources/images/the-flatiron-building.jpg;}

#bottom {font-size: 11px;
        color: white;
        background-color: dimgray;
        text-align: left;}
